.table_container {
	width: 100%;
	height: 100vh;
	display: block;
	overflow: scroll;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.table {
	width: 930px;
	border-collapse: collapse;
	border-spacing: 0;
}
.table th {
	/* color: var(--color-gray); */
	color: #eee;
	/* 6c6a6a */
	/* background-color: #f0cb73; */
	background-color: #6c6a6a;
	position: relative;
}
.table th svg {
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 10px;
	color: #666;
}
.table th,
.table td {
	padding: 12px;
	border: 1px solid #998b82;
}

.table :where(th:nth-child(1), td:nth-child(1)) {
	width: 20px;
}
.table td:nth-child(2) {
	width: 370px;
	white-space: nowrap;
}
.table td:nth-child(4) {
	width: 200px;
	white-space: nowrap;
}
.table td:nth-child(3) {
	padding: 12px 0 12px 12px;
}
.table td:nth-child(5) {
	/* width: 140px; */
	padding: 10px;
}
.table :where(th:nth-child(5), td:nth-child(5)) {
	width: 200px;
}
.table tr:nth-child(even) {
	/* background-color: var(--color-light-blue); */
	background-color: #6c6a6a;
	/* color: var(--color-gray); */
	color: #eee;
}
.action_btn {
	padding: 6px 12px;
	color: #fff;
	border: none;
	border-radius: 4px;
	user-select: none;
}
.action_btn:nth-child(1) {
	background-color: rgb(10, 168, 168);
}
.action_btn:nth-child(2) {
	background-color: rgb(234, 36, 36);
	margin-left: 10px;
}
