.header {
	width: 100%;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	user-select: none;
	background-color: #fff;
	z-index: 50;
}
.navbar {
	height: 100px;
	width: 100%;
	color: var(--color-dark-blue);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.left div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.left :where(img, p) {
	cursor: pointer;
}
.left p {
	font-weight: 550;
	font-size: 18px;
}
.left button {
	margin-left: 20px;
}
.cources p {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-weight: 600;
	font-size: 20px;
}
.cources p::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: var(--color-dark-blue);
	transform: scale(0);
	transition: 0.5s;
}
.cources p:hover::after {
	transform: scale(1);
}
.right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
	margin-right: 20px;
}
.right button:nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	padding: 12px 15px;
	font-weight: 550;
	font-size: 14.4px;
	border-radius: 8px;
	color: #fff;
	background-color: var(--color-light-blue);
	border: none;
	transition: 0.3s;
}
.right button:hover {
	background-color: var(--color-light-blue-hover);
}
.menu {
	display: none;
}
.menu button {
	padding: 8px 12px;
	border-radius: 8px;
	border: none;
	background-color: var(--color-light-blue);
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu svg {
	font-size: 24px;
	color: #fff;
}
.drop_cources {
	position: fixed;
	top: 100%;
	left: 0;
	width: 100%;
	height: 80vh;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 30px;
	transition: 0.5s;
	overflow: auto;
	z-index: 999;
}
.drop_btns {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
	padding: 10rem 0 0;
}
.drop_btns button {
	width: 40%;
	height: auto;
	border: 2px solid var(--color-light-blue);
	padding: 10px 15px;
	border-radius: 6px;
	background-color: transparent;
	color: var(--color-gray);
}
/* .drop_btns button p {
	width: 100px;

} */
.show_drop {
	top: 0;
}
.dark {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 20vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 3;
	cursor: pointer;
	transition: 0.5s;
}
.header_space {
	padding: 50px 0;
}
.x_btn {
	position: fixed;
	top: 10px;
	right: 30px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.x_btn svg {
	transition: 0.3s;
	font-size: 29px;
	color: var(--color-dark-blue);
}
.x_btn:hover svg {
	transform: scale(0.9);
}
.x_btn:active svg {
	transform: scale(0.7);
}
@media (max-width: 1222px) {
	.left {
		gap: 15px;
	}
	.right {
		gap: 25px;
	}
	.center p {
		width: 200px;
		text-align: center;
	}
}
@media (max-width: 1015px) {
	.menu {
		display: block;
	}
	.left button {
		display: none;
	}
}
@media (max-width: 800px) {
	.center p {
		font-size: 18px;
	}
}
@media (max-width: 750px) {
	.center p {
		font-size: 15px;
	}
	.left p {
		font-size: 15px;
	}
}
@media (max-width: 770px) {
	.drop_btns {
		padding-top: 100px;
	}
	.x_btn {
		right: 5px;
	}
}
@media (max-width: 750px) {
	.left button {
		display: none;
	}
	.right button p {
		display: none;
	}
	.drop_btns {
		/* margin-top: 200px; */
		flex-wrap: nowrap;
	}
	.drop_btns button {
		width: 100%;
	}
}
@media (max-width: 720px) {
	.left p {
		display: none;
	}
}
@media (max-width: 500px) {
	.right {
		margin-right: 0;
	}
	.right button {
		padding: 8px 12px !important;
	}
	.right button svg {
		font-size: 16px;
	}
	.drop_btns button {
		font-size: 15px;
		padding: 10px 5px;
	}
	.x_btn svg {
		font-size: 20px;
	}
}
@media (max-width: 490px) {
	/* .navbar {
		justify-content: center;
	} */
	.center p {
		font-size: 13px;
		width: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.right {
		font-size: 10px;
		padding: 0;
		gap: 10px;
		padding: 0;
	}
	.right button svg {
		font-size: 12px;
	}
}
@media (max-width: 450px) {
	.right button {
		font-size: 10px !important;
	}
}
@media (max-width: 418px) {
	.center p {
		font-size: 10px;
	}
	.right button {
		font-size: 8px !important;
	}
}
/* @media (max-width: 440px) {
	.center p {
		font-size: 14px;
	}
} */
/* @media (max-width: 430px) {
	.center p {
		font-size: 12px;
	}
} */

@media (max-width: 350px) {
	.left p {
		display: none;
	}
}
