.main_page {
	padding: 55px 80px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main_page div {
	max-width: 520px;
	width: 500%;
}
.left h2 {
	margin-bottom: 2.5px;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2;
	color: var(--color-dark-blue);
}
.left p {
	color: var(--color-gray);
	font-size: 18px;
	margin: 20px 0;
	line-height: 1.5;
	max-width: 400px;
	width: 100%;
}
.right {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 100%;
}
.right img {
	max-width: 500px;
	width: 100%;
}
.call_center {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 51;
}
.person_info {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px;
	background-color: #eee;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
	z-index: 102;
}
.person_info p {
	color: var(--color-dark-blue);
	text-align: center;
	font-size: 18px;
}
.person_info input {
	width: 520px;
	padding: 5px 10px;
	border: 2px solid var(--color-light-blue);
	color: var(--color-dark-blue);
	outline: none;
	font-size: 17px;
}
.person_info textarea {
	padding: 1rem;
	width: 100%;
	min-height: 80px;
	border: 2px solid var(--color-light-blue);
	outline: none;
	resize: none;
	color: var(--color-dark-blue);
	font-size: 17px;
}
.dark {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	z-index: 100;
}
@media (max-width: 1050px) {
	.main_page {
		padding: 50px 0 0;
	}
}
@media (max-width: 880px) {
	.main_page {
		flex-direction: column;
		padding: 50px 0 0;
	}
	.main_page div {
		max-width: none;
		width: 100%;
	}
	.left h2 {
		max-width: 600px;
		width: 100%;
	}
	.right {
		padding: 30px 0 0;
	}
	.right img {
		width: 100%;
	}
}
@media (max-width: 480px) {
	.left h2 {
		font-size: 28px;
	}
	.left p {
		font-size: 15px;
	}
	.left button {
		font-size: 14px;
	}
	.person_info input {
		width: 300px;
	}
}
@media (max-width: 370px) {
	.left h2 {
		font-size: 23px;
	}
	.left p {
		font-size: 13px;
	}
	.left button {
		font-size: 12px;
	}
	.person_info p {
		font-size: 15px;
	}
	.person_info input {
		width: 230px;
		font-size: 15px;
	}
	.person_info textarea {
		font-size: 15px;
	}
}
