.student {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.student p {
	font-size: 50px;
	color: var(--color-dark-blue);
}
.student_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.student img {
	width: 320px;
	cursor: pointer;
}
.download {
	position: absolute;
	top: 25px;
	right: 80px;
	font-size: 20px;
	background-color: transparent;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	color: var(--color-light-blue);
	padding: 5px;
	border: 1px solid var(--color-light-blue);
}
.share {
	position: absolute;
	top: 19px;
	left: 10px;
	font-size: 20px;
	background-color: transparent;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	color: var(--color-light-blue);
	width: 120px;
	padding: 5px;
	border: 1px solid var(--color-light-blue);
	display: none;
}
.download button {
	background-color: transparent;
	border: none;
	color: var(--color-dark-blue);
}

@media (max-width: 450px) {
	.download {
		position: none;
		top: 15px;
		padding: 5px 10px;
		right: 50px;
		font-size: 14px;
	}
	.share {
		position: none;
		top: 15px;
		right: 10px;
		width: 150px;
		font-size: 14px;
		display: block;
	}
	.student p {
		padding: 100px 0 0;
	}
}
@media (max-width: 400px) {
	.download {
		top: 40px;
		right: 1%;
		transform: translateX(-50%);
	}
	.share {
		width: 80px;
		top: 40px;
		left: 20%;
		transform: translateX(-50%);
	}
	.student p {
		padding: 20px 0 0;
		font-size: 25px;
	}
}
