.admin {
	width: 100%;
	height: 100vh;
	/* display: flex;
	justify-content: space-evenly;
	align-items: flex-start; */
	display: grid;
	grid-template-columns: 350px 1fr;
	justify-content: center;
	align-items: center;
}
.mange_admin {
	width: 350px;
	height: 100vh;
	/* background-color: var(--color-light-blue); */
	background-color: #333;
	position: sticky;
	z-index: 0;
	top: 80px;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0 0 0 30px;
	user-select: none;
	transition: 0.5s;
}
.mange_admin img {
	width: 150px;
	margin: 0 0 0 50px;
	cursor: pointer;
}
.mange_admin .icon_buttons {
	display: none;
}
.logout {
	position: fixed;
	top: 20px;
	left: 310px;
	/* color: var(--color-dark-blue); */
	color: #b3afaf;
	cursor: pointer;
	background-color: transparent;
	border: none;
}
.btns {
	position: relative;
}
.btns button {
	width: 280px;
	padding: 9px 0;
	margin-top: 20px;
	font-size: 17px;
	/* border: 1px solid var(--color-dark-blue); */
	border: 1px solid #eee;
	color: var(--color-gray);
	border-radius: 8px;
	transition: all 0.3s ease-in-out;
}
.btns svg {
	position: absolute;
	top: 28px;
	right: 10px;
	font-size: 25px;
	/* color: var(--color-dark-blue); */
	color: #b3afaf;
	transition: all 0.3s ease-in-out;
}
.mange_admin button:hover {
	background-color: var(--color-dark-blue-hover);
	color: #fff;
}
.mange_admin button:active {
	transform: scale(0.9);
}
/* .svg {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 23px;
	color: var(--color-dark-blue);
	cursor: pointer;
	background-color: transparent;
	border: none;
} */
.admin_view {
	width: 100%;
	padding: 0 0 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
