/* @font-face {
	font-family: 'Cera Pro Bold';
	src: url('./fonts/Cera_pro/Fontspring-DEMO-cerapro-bold.otf');
	/* url('./fonts/Cera_pro/Fontspring-DEMO-cerapro-bolditalic.otf')
		url('./fonts/Cera_pro/Fontspring-DEMO-cerapro-black.otf')
		url('./fonts/Cera_pro/Fontspring-DEMO-cerapro-blackitalic.otf')
		url('./fonts/Cera_pro/Fontspring-DEMO-cerapro-light.otf')
		url('./fonts/Cera_pro/Fontspring-DEMO-cerapro-lightitalic.otf')
		url('./fonts/Cera_pro/Fontspring-DEMO-cerapro-medium.otf')
		url('./fonts/Cera_pro/Fontspring-DEMO-cerapro-mediumitalic.otf')
		url('./fonts/Cera_pro/Fontspring-DEMO-cerapro-regular.otf')
		url('./fonts/Cera_pro/Fontspring-DEMO-cerapro-regularitalic.otf')
		url('./fonts/Cera_pro/Fontspring-DEMO-cerapro-thin.otf')
		url('./fonts/Cera_pro/Fontspring-DEMO-cerapro-thinitalic.otf'); */
/*}
@font-face {
	font-family: 'Cera Pro Medium';
	src: url('./fonts/Cera_pro/Fontspring-DEMO-cerapro-medium.otf');
} */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Cera Pro Bold', 'FallbackFont', Arial, sans-serif; */
	font-family: sans-serif;
}
/* :root {
	--color-light-blue: #26cbc4;
	--color-light-blue-hover: rgb(10, 171, 171);
	--color-dark-blue: #0d2e69;
} */
:root {
	--color-light-blue: #f0cb73;
	--color-light-blue-hover: #cba449;
	--color-dark-blue: #6e5215;
	--color-gray: #a08fa6;
}
.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 15px;
	border-radius: 8px;
	border: 1px solid var(--color-light-blue);
	color: var(--color-light-blue);
	background-color: #fff;
	font-weight: 550;
	font-size: 14.4px;
	transition: all 0.2s ease-in-out;
}
.btn:hover {
	background-color: var(--color-light-blue);
	color: #fff;
}
.btn_full {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	padding: 12px 15px;
	font-weight: 550;
	font-size: 14.4px;
	border-radius: 8px;
	color: #fff;
	background-color: var(--color-light-blue);
	border: none;
	transition: all 0.2s ease-in-out;
}
.btn_dark:hover {
	background-color: var(--color-light-blue-hover);
}
.logo_img {
	width: 70px;
	height: 70px;
}
.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100dvh;
}
.not_found {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	color: var(--color-light-blue);
}
button {
	cursor: pointer;
}
ul {
	line-height: 2rem;
}
ul li {
	list-style: none;
	padding: 3px 0;
}
ul li a {
	color: var(--color-gray);
	cursor: pointer;
	transition: 0.2s;
	font-size: 18px;
	text-decoration: none;
}
ul li a:hover {
	color: #000;
}
thead {
	user-select: none;
}
::selection {
	color: #fff;
	background-color: #26cbc4;
}
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	width: 5px;
	background-color: #5c5e68;
	border-radius: 4px;
}
.PhoneInputCountry {
	display: none;
}
.red-text-important {
	color: red;
}
@media (max-width: 1222px) {
	.container {
		padding: 0 30px;
	}
}
@media (max-width: 1015px) {
	.container {
		padding: 0 50px;
	}
}
@media (max-width: 400px) {
	.container {
		padding: 0 20px;
	}
	.btn {
		padding: 7px, 10px;
		font-size: 13px;
	}
}
